{% extends "base.html" %}

{% block titlepage%} Se connecter  {% endblock %}

{% block content %}

        <form id="login_form" method="post" action="{% url 'connexion' %}">
            {% csrf_token %}

        <td> <strong> Utilisateur  </strong>  </td>

            <input type="text" name="username" value="" size="50" />
            <br />
        <td> <strong>  Mot de passe  </strong>  </td>

<input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Connexion" />

        </form>
{% endblock %}
