{% extends "base.html" %}
{% load static %}

{% block title %} Page d'accueil {% endblock %}





{% block content %}

<!-- Javascript pour le système de notation -->

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<head>
<script>
<!-- 
StarOutUrl=   '/static/img/star0.gif';    //image par défaut
StarOverUrl=    '/static/img/star.gif';   //image d'une étoile sélectionnée
StarBaseId=   'Star';     //id de base des étoiles
NbStar=     5;     //nombre d'étoiles

LgtStarBaseId=StarBaseId.lastIndexOf('');

function NotationSystem(cle) { //le paramètre cle désigne la clé primaire de l'annonce associée
    
      document.getElementById('key').value = cle;

  for (i=1;i<NbStar+1;i++) {
    var img     =document.getElementById('Star'+i);
      
    img.onclick   =function() {alert('Vous souhaitez donner la note de '+Name2Nb(this.id)+'.' +' Appuyez sur le bouton Voter pour valider votre vote. ');       document.getElementById('mark').value = Name2Nb(this.id);
};
    //Réaction lors du clic sur une étoile
    //Evidemment, il faudrait compléter cette fonction pour la rendre vraiment utile.
    //Par exemple, envoyer la note dans une base de donnée via un XMLHttpRequest.
    
    img.alt     ='Donner la note de '+i;
    //Texte au survol
    
    img.src     =StarOutUrl;
    img.onmouseover =function() {StarOver(this.id);};
    img.onmouseout  =function() {StarOut(this.id);};
  }
}

function StarOver(Star) {
  StarNb=Name2Nb(Star);
  for (i=1;i<(StarNb*1)+1;i++) {
    document.getElementById('Star'+i).src=StarOverUrl;
  }
}

function StarOut(Star) {
  StarNb=Name2Nb(Star);
  for (i=1;i<(StarNb*1)+1;i++) {
    document.getElementById('Star'+i).src=StarOutUrl;
  }
}

function Name2Nb(Star) {
  //Le survol d'une étoile ne nous permet pas de connaître directement son numéro
  //Cette fonction extrait donc ce numéro à partir de l'Id
  StarNb=Star.slice(LgtStarBaseId);
  return(StarNb);
} 
-->
</script>
</head>



<article style="float: left;  margin: 0 1.5%; width: 50%;">

    <div id="map"></div>
    <script>
    
    function visibilite(content_bulle,descriptif,note,cle) {
      document.getElementById("affichage_annonce").style.visibility = "visible";
      var div = document.getElementById("affichage_annonce");  
      div.textContent = content_bulle;  
      var text = div.textContent;

      document.getElementById("affichage_descriptif").style.visibility = "visible";
      var div = document.getElementById("affichage_descriptif");  
      div.textContent = descriptif;  
      var text = div.textContent;

      for (i=0;i<6;i++) {
         var num=i.toString();
         document.getElementById("affichage_star"+num).style.visibility = "hidden";
      }

      {% if user.is_authenticated %}
        document.getElementById("notation").style.visibility = "visible";
        NotationSystem(cle);

      {% else %}

// si note vaut -1, cela signifie que le marqueur cliqué est celui d'un utilisateur. Nous n'affichons donc pas de note dans ce cas
      if (note>-1){
        var num=note.toString();
        var d="affichage_star"+num;
        document.getElementById(d).style.visibility = "visible";
        var lien ="/static/img/etoile"+num+".jpg";
        var div = document.getElementById(d).innerHTML = '<img src="'+lien+'"/>';
      }
      {% endif %}
    }


    function addInfoWindowToMarker(map, marker, content_bulle, descriptif, note ,cle) {
                      var infoWindow = new google.maps.InfoWindow({
                          content: content_bulle
                      });
                      google.maps.event.addListener(marker, 'click', function() {
                          infoWindow.open(map,this);
                          visibilite(content_bulle,descriptif,note,cle);
                      });
                  }
      function initMap() {
                      // coordonnees de Paris
                        var paris = new google.maps.LatLng(48.856578, 2.351828);

                        // recuperation de l'element HTML sur lequel afficher la carte
                        var mapCanvas = document.getElementById("map");

                        // creation effective de la carte
                        var mapOptions = {
                          center: paris,
                          zoom: 10,
                          mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        var map = new google.maps.Map(mapCanvas, mapOptions);



                        {% for profil in profils %}
                        // definition du marqueur et ajout a la carte
                        var lieu = new google.maps.LatLng({{profil.lat | stringformat:"f"}}, {{profil.long | stringformat:"f"}});
                        var markOptions = {
                          position: lieu,
                          map: map,
                          title: "voir le profil"
                        };
                        var mark = new google.maps.Marker(markOptions);
                        addInfoWindowToMarker(map, mark, "{{profil.user.username}}","",-1,"");

                        {% endfor %}




                  var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
                          var icons = {
                            Ballade: {
                              icon: iconBase + 'hiker_maps.png'
                            },
                            Échange: {
                              icon: iconBase + 'info-i_maps.png'
                            },
                            Restaurant: {
                              icon: iconBase + 'dining_maps.png'
                            },
                            Service: {
                              icon: iconBase + 'mechanic_maps.png'
                            }
                          };
                        {% for add in annonces %}
                        // definition du marqueur et ajout a la carte
                        var lieu = new google.maps.LatLng({{add.lat | stringformat:"f"}}, {{add.long | stringformat:"f"}});
                        var markOptions = {
                          position: lieu,
                          map: map,
                          title: "voir l'annonce",
                          icon : icons["{{add.categorie}}"].icon,
                        };
                        var mark = new google.maps.Marker(markOptions);
                        var note=0;
                        if ({{add.nb_votes}} >0){
                          note = {{add.somme_notes}} / {{add.nb_votes}};
                        }
                        note = Math.trunc(note);
                        addInfoWindowToMarker(map, mark, "{{add.titre}}", "{{add.descriptif}}",note,{{add.id}});


                        {% endfor %}
      }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCz7usmwU_bwE46NxmQlKepw5a0GF2IYA&callback=initMap">
    </script>

</article>

<aside>

  <div id="affichage_annonce" style="visibility:hidden;" > </div>
  <div id="affichage_descriptif" style="visibility:hidden;" > </div>


  <div id="notation" style="visibility:hidden;">

    <img id="Star1" src="/static/img/star.gif" /><img id="Star2" src="/static/img/star.gif" />
    <img id="Star3" src="/static/img/star.gif" /><img id="Star4" src="/static/img/star.gif" />
    <img id="Star5" src="/static/img/star.gif" />

    <form id="note_form" method="post" action="{% url 'home' %}">
            {% csrf_token %}
             <input type="hidden" id="mark" name="mark"/>
             <input type="hidden" id="key" name="key"/>
             <input type="submit" name="submit" value="Voter" />
    </form>
  </div>


  <div id="affichage_star0" style="visibility:hidden;" > </div>
  <div id="affichage_star1" style="visibility:hidden;" > </div>
  <div id="affichage_star2" style="visibility:hidden;" > </div>
  <div id="affichage_star3" style="visibility:hidden;" > </div>
  <div id="affichage_star4" style="visibility:hidden;" > </div>
  <div id="affichage_star5" style="visibility:hidden;" > </div>




</aside>


{% endblock %}




{% block lastnews %}

<h2>Les Dernières Actualités</h2>

<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#carousel-example" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-example" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example" data-slide-to="2" class=""></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item">
                        <div class="container center">
                            <div class="col-md-6 col-md-offset-3 slide-custom">

                                <h4><i class="fa fa-quote-left"></i>
                                    {{annonces.0.descriptif}}
                                    <i class="fa fa-quote-right"></i></h4>
                                <div class="user-img pull-right">
                                    <img src="\static\img\{{annonces.0.categorie}}.jpg" alt="" class="img-u image-responsive img-circle">
                                </div>
                                <h5 class="pull-right"><strong class="c-set" >{{annonces.0.categorie}}</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="item active left">
                        <div class="container center">
                            <div class="col-md-6 col-md-offset-3 slide-custom">
                                <h4> <i class="fa fa-quote-left"></i> {{annonces.1.descriptif}} <i class="fa fa-quote-right"></i></h4>
                                <div class="user-img pull-right">


                                    <img src="\static\img\{{annonces.1.categorie}}.jpg" alt="" class="img-u image-responsive">
                                </div>
                                <h5 class="pull-right"><strong class="c-set" > {{annonces.1.categorie}} </strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="item next left">
                        <div class="container center">
                            <div class="col-md-6 col-md-offset-3 slide-custom">
                                <h4><i class="fa fa-quote-left"></i> {{annonces.2.descriptif}} <i class="fa fa-quote-right"></i></h4>
                                <div class="user-img pull-right">

                                    <img src="\static\img\{{annonces.2.categorie}}.jpg" alt="" class="img-u image-responsive">
                                </div>
                                <h5 class="pull-right"><strong class="c-set">  {{annonces.2.categorie}}  </strong></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
