{% extends "base.html" %}

{% block titlepage%}Inscription{% endblock %}

{% block content %}
{% if registered %}
        <strong>Vous êtes maintenant inscrits ! Vous pouvez vous connecter normalement.</strong>
{% else %}
        <strong>Inscrivez-vous ici :</strong><br />

        <form id="user_form" method="post" action="{% url 'inscription' %}"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}



  <body>
    <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
    </div>

    <table id="address">
      <tr>
        <td class="label">Adresse</td>
        <td class="slimField"><input class="field" id="street_number" name="numero"
              disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route" name="rue"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Ville</td>
        <td class="wideField" colspan="3"><input class="field" id="locality" name="ville"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Region</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" name="region" disabled="true"></input></td>
        <td class="label">Code Postal</td>
        <td class="wideField"><input class="field" id="postal_code" name="code_postal"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Pays</td>
        <td class="wideField" colspan="3"><input class="field" name="pays"
              id="country" disabled="true"></input></td>
      </tr>

      <input type="hidden" id="cityLat" name="cityLat" />
      <input type="hidden" id="cityLng" name="cityLng" />

    </table>

    <script>

var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }

  document.getElementById('cityLat').value = place.geometry.location.lat();
  document.getElementById('cityLng').value = place.geometry.location.lng();

}
// [END region_fillform]


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCz7usmwU_bwE46NxmQlKepw5a0GF2IYA&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Inscription" />
        </form>
{% endif %}

{% endblock %}
