{% extends "base.html" %}

{% block titlepage%} Voir les annonces  {% endblock %}

{% block content %}

{% if test %}
          <p>
          {% for annonce in annonces %}
                <td>{{ annonce.titre }}</td><br>
          {% endfor %}
          </p>

{% else %}
<div><p>
<strong><font size = '5'>Sélectionnez la catégorie qui vous intéresse : </font></strong><br>

        <form id="form" method="post" action="{% url 'voir_annonces' %}" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ form.as_p }}

                    <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Chercher" />
        </form>
</div></p>

{% endif %}

{% endblock %}
