{% load static %}
    <head>
        <meta charset="utf-8" />
		    <link rel="stylesheet" href="/static/css/home.css" />
        <title> {% block title %} {% endblock %} </title>
        <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
        <script>
        //Inspiré d'un exemple de GeoTribu
        function init() {
        var map, popup;
        map = new OpenLayers.Map("map");

        var layer_OSM = new OpenLayers.Layer.XYZ(
            "OSM.Fr",
            [ "http://a.tile.openstreetmap.fr/osmfr/${z}/${x}/${y}.png", "http://b.tile.openstreetmap.fr/osmfr/${z}/${x}/${y}.png", "http://c.tile.openstreetmap.fr/osmfr/${z}/${x}/${y}.png" ],
            {attribution: "Openstreetmap France",
            description: "Tuiles Fr",
            sphericalMercator: true,
            wrapDateLine: true,
            transitionEffect: "resize",
            buffer: 0, }
        );
        map.addLayer(layer_OSM);
        map.setCenter(new OpenLayers.LonLat(1, 41), 2);
        map.addControl(new OpenLayers.Control.LayerSwitcher());

        markers = new OpenLayers.Layer.Markers("Marker");
        map.addLayer(markers);

        //Creation du Marker
        pos = new OpenLayers.LonLat(1.402,43.577);
        pos.transform(new OpenLayers.Projection("EPSG:4326"),
        new OpenLayers.Projection("EPSG:900913")); //Conversion en coordonnées spherical Mercator
        map.setCenter(pos, 11);

        feature = new OpenLayers.Feature(layer_OSM, pos);
        marker = feature.createMarker();
        markers.addMarker(marker);
        marker.events.register("mousedown", marker, mousedown);

        //Gestion des evenements
        function mousedown(evt) {
            //Je verifie qu'aucun popup n'existe deja
            if (popup == null) {
                popup = feature.createPopup(true);
                popup.setSize(new OpenLayers.Size(120,60));
                popup.setContentHTML("Exemple de PopUp sur un marqueur");
                popup.setBackgroundColor("white");
                markers.map.addPopup(popup);
            } else {
                popup.toggle();
            }
            OpenLayers.Event.stop(evt);
        }
    }
        </script>
    </head>

    <body>
    <div id="bloc_page">
        <header>
            <div id="titre_principal">
                <div id="logo">
				            <img src="{% static 'annonces/logo.jpeg' %}" alt="Logo Bons Plans" ></code>
                    <h1>Les Bons Plans</h1>
                </div>
            </div>
            <div style="text-align:center">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}" >Accueil</a></li>
                    <li><a href="#">Recherche</a></li>
				            {% if user.is_authenticated %}
                        <li><a href="{% url 'ajout_annonce' %}" >Poster une annonce</a></li>
					              <li><a href="{% url 'deconnexion' %}" >Déconnexion</a></li>
                    {% else %}
					              <li><a href="{% url 'connexion' %}" >Connexion</a></li>
                        <li><a href="{% url 'inscription' %}" >S'inscrire</a></li>
				            {% endif %}
                </ul>
            </nav>
            </div>
        </header>

        <div id="banniere_image">
            <div id="banniere_description">
                Dernière annonce parue ...
                <a href="#" class="bouton_rouge">Voir l'annonce <img src="{% static 'img/flecheblanchedroite.png' %}" alt="" ></a>
            </div>
        </div>

        <section>
        {% block content %}
            <body onload="init()" >
                <div id="map" style="width: 512px; height: 256px; border: 1px solid #bbb;"></div>
                <h4>Exemple de marqueur cliquable</h4>
            </body>

		    {% endblock %}
        </section>


			  <footer>
            <div id="tweet">
                <h1>Les créateurs</h1>
                <p>Gaspard, Pierre et Quentin</p>
            </div>
        </footer>
        </div>
    </body>
